---
import Layout from '../layouts/Layout.astro';
import '../styles/base.css';
import Card from '../components/timelineCard.astro';
import hinge1 from '../../public/hinge1.jpg';
import hinge2 from '../../public/hinge2.jpg';
import StPatty from '../../public/stpatty2.jpg';
import valentines from '../../public/valentine1.jpg';
import shooting1 from '../../public/shooting1.jpg';
import shooting2 from '../../public/shooting2.jpg';
import boatday1 from '../../public/boatday1.jpg';
import boatday2 from '../../public/boatday2.jpg';
import tennessee1 from '../../public/tennessee1.jpg';
import tennessee4 from '../../public/tennessee4.jpg';
import grandcanyon from '../../public/grandcanyon1.jpg';
import picturedrocks from '../../public/picturedrocks.jpg';
import picturedrocks1 from '../../public/picturedrocks1.jpg';
import florida from '../../public/florida.jpg';
import florida1 from '../../public/florida2.jpg';
import house1 from '../../public/house1.jpg';

---


<Layout title="Trevor & Kristen">

<section class="">

    <div class="h-40 m-auto w-1/3 text-center"></div>
    <div class="flex justify-center items-center">
        <div class=" bg-black w-2 top-0 h-screen fixed"></div>
    </div>

    <div class="flex flex-col gap-12 ">
        <Card title="First Date" date="December 11, 2019" side="right" pic1={hinge1.src} pic2={hinge2.src} body="I'd love to set the scene for an epic meet cute story but the truth is we owe this relationship to good ole Hinge. For those who don't know, Hinge is a dating app. It's true, a dating app doesn't make for some great story (my favorite being the movie Serendipity) but luckily for you, I bragged about the hot date I landed to my now Best Man and sent him these pictures. So, you get a glimpse of what I saw. Thank you Hinge!!"/>

        <Card title="First Valentines" date="February 14, 2020" side="left" pic1={valentines.src}  body="Valentines 2020 was only a couple weeks after we were 'officially' boyfriend and girlfriend. We took a little drive to Rosy Mound Natural Area in Grand Haven and took a cold but pretty walk to the beach. This was followed up with a visit to The Toasted Pickle (definitely recommend if visiting Grand Haven)."/>

        <Card title="Last night out before Covid" date="March 14, 2020" side="right" pic1={StPatty.src} body="Honestly, the fact that Kristen and I found each out just a few months before Covid hit was so fortunate, but it also had its own challenges. One example being we really couldn't do any more 'out on the town' dates like going out to eat, atending shows or going dancing. The first few months of a relationship is usually filled with these experiences so we kind of missed out on the 'dating' feel. This picture is from St. Patties day, which was literally the weekend before everything shut down."/>

        <Card title="What city girl?" date="May 24, 2020" side="left" pic1={shooting1.src} pic2={shooting2.src} body="I finally bring Kristen home and of course it ends up with her shooting a gun for the first time."/>

        <Card title="Boat Days!!" date="Summer 2020" side="right" pic1={boatday1.src} pic2={boatday2.src} body="One of our favorite summer time activies is going out on the boat. Being out on Lake Michigan on a beautiful summer day is just unbeatable. I remember the first time we took the boat out because I was so excited to share one of my favorite things with Kristen. We got to the boat launch and it was time to show off a little by executing a very impressive, near perfect, backup of the trailer into the water. The boat was in the water and all of our stuff was in the boat; we were ready to go! I turn the key and nothing happened. Turned out to be some faulty wiring and we ended up spending that day back at my parents jumping in and out of our dog's kitty pool"/>

        <Card title="First Road Trip!" date="October 1, 2020" side="left" pic1={tennessee1.src} pic2={tennessee4.src} body="Kristen's sister and brother in law live down in Murfreesboro Tennesse, which gave us the perfect excuse for our first road trip. We visited Kelsey and Andrew, hung out in Nashville and ended the trip with a few days in the Great Smoky Mountains National Park. That meant our first time camping and hiking together where we discovered that we are complete opposites when it comes to hiking. She likes the long gentle incline hikes where as I like the steep hard hikes. We compromised like every good couple does and saw some amazing views."/>

        <Card title="Grand Canyon" date="March 14, 2021" side="right" pic1={grandcanyon.src} pic2={} body="For spring break 2021, Kristen and I flew out to Phoenix Arizona and took a litte trip up to the Grand Canyon. We booked an airbnb with a pool and were so excited for some hot relaxing days. Turned out we picked the only week of the year that it was cold in Phoenix. Even drove through a snow storm to get to the Grand Canyon."/>
        
        <Card title="Bought my first house" date="May 20, 2021" side="left" pic1={house1.src} body=""/>

        <Card title="UP Trip" date="August 5, 2021" side="right" pic1={picturedrocks.src} pic2={picturedrocks1.src} body="Kristen and I took a trip up to the UP to visit Tahquamenon Falls, the Shipwreck Museum and Pictured Rocks. It was also Kristen's first time tent camping and she handled it surprising well :). We also both had a cold and still managed to have fun."/>

        <Card title="Florida" date="March 17, 2022" side="left" pic1={florida.src} pic2={florida1.src} body="Thankfully, Kristen was able to join my family and I in Florida where we stayed with my Grandparents. It was the year before the hurricane wiped Fort Myers Beach out and destroyed their place. I spent a lot of spring breaks there and I'm glad I got to share it with Kristen."/>

    </div>
    <div class="h-5 bg-white"></div>
</section>