---
import { Image } from 'astro:assets'
import engaged3 from '../images/engagement3.jpg';
import engaged4 from '../images/engagement4.jpg';
import engaged5 from '../images/engagement5.jpg';
import engaged6 from '../images/engagement6.jpg';
import engaged7 from '../images/engagement7.jpg';
import engaged8 from '../images/engagement8.jpg';
import engaged9 from '../images/engagement9.jpg';
import engaged10 from '../images/engagement10.jpg';
import engaged11 from '../images/engagement11.jpg';
import engaged12 from '../images/engagement12.jpg';
import engaged13 from '../images/engagement13.jpg';
import engaged14 from '../images/engagement14.jpg';
import engaged15 from '../images/engagement15.jpg';
import engaged16 from '../images/engagement16.jpg';
import engaged17 from '../images/engagement17.jpg';
import engaged18 from '../images/engagement18.jpg';
import engaged19 from '../images/engagement19.jpg';
import engaged20 from '../images/engagement20.jpg';
import engaged21 from '../images/engagement21.jpg';
import engaged22 from '../images/engagement22.jpg';
import engaged23 from '../images/engagement23.jpg';
---


<div class="text-center mb-10">
    <h3 class="text-3xl font-bold ">Engagement Photos</h3>
    <p class="">Photographer: <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://www.taylorjphotography.co/">Taylor J. Photography</a></p>
</div>
<div class="flex justify-center items-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 w-11/12">
        <Image class="" src={engaged3} alt=""/>
        <Image class="" src={engaged4} alt=""/>
        <Image class="" src={engaged5} alt=""/>
        <Image class="md:col-span-2" src={engaged6} alt=""/>
        <Image class="" src={engaged14} alt=""/>
        <Image class="md:col-span-3" src={engaged7} alt=""/>
        <Image class="" src={engaged9} alt=""/>
        <Image class="md:col-span-2" src={engaged8} alt=""/>
        <Image class="md:col-span-2" src={engaged10} alt=""/>
        <Image class="" src={engaged11} alt=""/>
        <Image class="" src={engaged15} alt=""/>
        <Image class="" src={engaged16} alt=""/>
        <Image class="" src={engaged20} alt=""/>
        <Image class="md:col-span-2" src={engaged18} alt=""/>
        <Image class="" src={engaged19} alt=""/>
        <Image class="" src={engaged21} alt=""/>
        <Image class="md:col-span-2" src={engaged22} alt=""/>
        <Image class="md:col-span-2" src={engaged23} alt=""/>
        <Image class="" src={engaged17} alt=""/>
        <Image class="md:col-span-3" src={engaged12} alt=""/>
    </div>
</div>